#ost_box{
    width: 100%;
    background-repeat: repeat-x;
    background-color:#fff;
    color: #464646;
    left: 0;
    top: 0 !important;
    font-size: 12px;
    z-index: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #c9c9c9;
    border-width: 1px 0;
}
.ost_bg{
    background: url("images/ost-bg.png") no-repeat;
}
.ost_bn, .ost_box{
    height: 42px;
    min-width: 980px;
    text-align: left;
}
.ost_nb{
    border: 0;
}
.ost_big{
width: 970px;
height: 185px;
padding: 0 3px 3px;
border-bottom: 1px solid #eee;
background: #fff;
position: absolute;
top: 0;
left:25%;
margin: 0 0 -488px;
visibility: visible;

}

.ost_inner{
    width: 980px;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;
    line-height: 40px;
}
.ost_lsn{
    list-style: none;
}
.ost_logo{
    width: 205px;
    padding: 0 15px 0 0;
    background-position: 0 -40px;
    position: relative;
    z-index: 1000;
}
.ost_h40{
    height: 40px;
}
.ost_fl{
    float: left;
}
.ost_blnk{
    display: block;
    height: 100%;
}
.ost_ad{
    width: 230px;
}
.ost_nb:hover .ost_big{
display: block;
}
.ost_total{
    width: 220px;
    background-position: -143px -120px;
}
.ost_m110{
    margin-left: 10px;
}
.ost_fr{
    float: right;
}
.ost_czsh{
    float: left;
    width: 118px;
    background: url("images/logo.png") 0 12px no-repeat;
    text-indent: 20px;
    margin: 0 auto;
}
.ost_czsh .ost_title{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 40px;
    cursor: pointer;
}
.ost_title:hover{
    color: red;
}
.ost_czsh a:hover{
    color: red;
}
.ost_czsh a{
    color: #464646;
}
.ost_title{
    text-indent: 0!important;
    margin: 0 auto;
    cursor: pointer;
}
.ost_big, .ost_bni, .ost_h40, .ost_hdn, .ost_ico, .ost_msgnum, .ost_pin {
    overflow: hidden;
}
.ost_icon_arrow{
    width: 11px;
    height: 11px;
    background-position: -150px -134px;
    margin-left: 5px;
}
.ost_icon_arrow, .ost_icon_reddot{
    display: inline-block;
    vertical-align: middle;
    font-size: .1em;
}
/* .ost_ad:hover>.ost_big{
    display: block;
} */
.ost_icon_reddot{
    width: 7px;
    height: 7px;
    background-position: -190px 134px;
    margin-left: -3px;
    margin-top: -8px;
}
.ost_pop{
    width: 700px;
    height: 386px;
    top: 32px;
    right: 7px;
    position: absolute;
    z-index: 900;
}